
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff5e2;
  font-family: 'RocknRoll One', sans-serif;
}

header{
  background-color: #fdbb40;
  height: 15vh;
  position: relative;
}

main{
  background-color: white;
  height: 75vh
}

footer{
  background-color: #d33359;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px
}

/* MIX */

.flex{
  display: flex;
}

.text-center{
  text-align: center;
}

.text-white{
  color: #fff;
}

.pd-40{
  padding: 40px 20px
}

.pd-10{
 padding: 10px 0
}

.mg-10{
  margin: 10px 0;
}

.mg-20{
  margin: 20px 0;
}

/* ELEMENTS */

.btn{
  background-color: #fdbb40;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
}

.wrapper{
  width: 50%;
}

.container{
  padding: 10px 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingredient-pic{
  width: 60px;
  vertical-align: middle;
}

/* TYPO */

ul{
  list-style: none;
  margin-right: 10px;
  margin-top: 10px
}

li{
  padding: 10px 0;
}

#sum{
  font-size: 25px
}

/* HEADER */

.header-pic{
  position: absolute;
  width: 30%;
  right:0;
  top: 0;
  transform: translate(+50%, -15%);
}

/* MAIN */

.section-title{
  flex-basis: 100%;
}

#coupon-name{
  margin: 0 10px
}
